---
title: Rent my Alexa
---
#outer-container
  #left
    .heading RENT MY ALEXA - $750 Per Day
    .subheading Arri Alexa EV-1 High Speed Camera (Body Only)
    .things
      :markdown
        - High Speed Licence (120FPS) & PL Lens Mount
        - Lens Cap
        - CCH-1 Center Camera Handle
        - HEB-2 Handle Extension Block
        - VMB-1 Viewfinder Mounting Bracket with Extension Arm
        - EVF-1 ALEXA Viewfinder
        - Viewfinder Cable Short
        - Viewfinder Cable Medium
        - VEB-1 Viewfinder Extension Bracket
        - BP-13 Bridgeplate for 15mm Studio Rods
        - BPA-1 Bridge Plate Adaptor
        - WA-1 Wedge Adaptor
        - LB-1 Levelling Block
        - SP-3 Shoulder Pad
        - V-Lock Battery Plate
        - KC20 ALEXA 24v Power Cable
        - 6 x 32GB Sony SxS Memory Card
        - 4 x 64GB Sony SxS Memory Card
        - Sony Memory Card Reader
        - 2 x ALEXA 12V Accessory Cable
        - Audio Cable
        - Case
    %br
    .things
      *Insurance is required
    %br
  #right
    .subheading Also available:
    .things
      :markdown
        - Tv Logic 058w 5.6" 1080p Monitor - $100 / Day
        - Small HD 702 7" 1080p Monitor - $125 / Day
        - Bartech Wireless Follow Focus Kit - $125 / Day
    %br
    .subheading Contact:
    .things
      :markdown
        - David Goldberg
        - rentmyalexa@gmail.com
        - 778 938 7573
